# Yerel geliştirme için bu dosyayı .env olarak kopyalayın
# Docker Compose kullanıyorsanız bu dosyaya gerek yoktur

PGHOST=localhost
PGPORT=5432
PGDATABASE=kalorihesaplama
PGUSER=postgres
PGPASSWORD=postgres123
PORT=3000
